In [2]:
import pandas as pd

In [3]:
data={
'Region': ['North','South','East','West','North','South','East','West'],
'Product': ['A','B','A','B','C','C','B','A'],
'Sales': [150,200,300,400,250,180,220,310],
'Quantity': [10,15,20,25,12,14,16,18],
}

In [4]:
df=pd.DataFrame(data)
print("Sample dataset:\n",df)

Sample dataset:
   Region Product  Sales  Quantity
0  North       A    150        10
1  South       B    200        15
2   East       A    300        20
3   West       B    400        25
4  North       C    250        12
5  South       C    180        14
6   East       B    220        16
7   West       A    310        18

In [5]:
#2-grouping and aggregation
#aggregating sales by region
sales_by_region=df.groupby('Region')['Sales'].sum()
print("\nTotal Sales By Region:\n",sales_by_region)

Total Sales By Region:
 Region
East     520
North    400
South    380
West     710
Name: Sales, dtype: int64

In [6]:
#aggregating sales and quantity by product(mean)
mean_by_product=df.groupby('Product')[['Sales','Quantity']].mean()
print("\nMean Sales and Quantity by Product:\n",mean_by_product)

Mean Sales and Quantity by Product:
               Sales   Quantity
Product
A        253.333333  16.000000
B        273.333333  18.666667
C        215.000000  13.000000

In [7]:
#agggregating count of sales by region
count_by_region=df.groupby('Region')['Sales'].count()
print("\nCount of sales by region:\n",count_by_region)

Count of sales by region:
 Region
East     2
North    2
South    2
West     2
Name: Sales, dtype: int64

In [8]:
#custom aggregation: min and max sales by region
custom_agg=df.groupby('Region')['Sales'].agg(['min','max'])
print("\nCustom aggregation(min and max sales by region):\n",custom_agg)

#3-multi-level aggregation
#agg sales by region and product
multi_lvl=df.groupby(['Region','Product'])['Sales'].sum()
print("\nSales by region and product:\n",multi_lvl)

Custom aggregation(min and max sales by region):
         min  max
Region
East    220  300
North   150  250
South   180  200
West    310  400

Sales by region and product:
 Region  Product
East    A          300
        B          220
North   A          150
        C          250
South   B          200
        C          180
West    A          310
        B          400
Name: Sales, dtype: int64

In [11]:
#4-reset index for multilevel agg
mu_lvl_reset=multi_lvl.reset_index()
print("\n Sales by region and product(reset index):\n",mu_lvl_reset)

 Sales by region and product(reset index):
   Region Product  Sales
0   East       A    300
1   East       B    220
2  North       A    150
3  North       C    250
4  South       B    200
5  South       C    180
6   West       A    310
7   West       B    400

Objective:
To understand and implement:
Time Aggregation: Aggregating data over different time periods (e.g.,
monthly, yearly).
Spatial Aggregation: Aggregating data by spatial attributes (e.g., by
region, city).

In [12]:
import pandas as pd
#1-extend dataset with time and spatial data

In [15]:
data={
'Region': ['North','South','East','West','North','South','East','West'],
'Product': ['A','B','A','B','C','C','B','A'],
'Sales': [150,200,300,400,250,180,220,310],
'Quantity': [10,15,20,25,12,14,16,18],
'City': ['City1','City2','City3','City4','City1','City2','City3','City4'],
'Date': pd.to_datetime(['2024-01-01','2024-01-02','2024-02-01','2024-02-03','2024-03-01','2024-03-02','2024-04-01','2024-04-03'])

}

In [16]:
df=pd.DataFrame(data)
print("Extended dataset:\n",df)

Extended dataset:
   Region Product  Sales  Quantity   City       Date
0  North       A    150        10  City1 2024-01-01
1  South       B    200        15  City2 2024-01-02
2   East       A    300        20  City3 2024-02-01
3   West       B    400        25  City4 2024-02-03
4  North       C    250        12  City1 2024-03-01
5  South       C    180        14  City2 2024-03-02
6   East       B    220        16  City3 2024-04-01
7   West       A    310        18  City4 2024-04-03

In [17]:
#Time aggregation
#2-set date column as index(optional)
df.set_index('Date',inplace=True)

In [18]:
#agg sales bvy month
month_sales=df.resample('M')['Sales'].sum()
print("\nTotal Sales ny month:\n",month_sales)

Total Sales ny month:
 Date
2024-01-31    350
2024-02-29    700
2024-03-31    430
2024-04-30    530
Freq: ME, Name: Sales, dtype: int64

/tmp/ipython-input-3275060522.py:2: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  month_sales=df.resample('M')['Sales'].sum()

In [19]:
#agg sales by quarter
quarter_sales=df.resample('Q')['Sales'].sum()
print("\nTotal sales by quarter:\n",quarter_sales)

Total sales by quarter:
 Date
2024-03-31    1480
2024-06-30     530
Freq: QE-DEC, Name: Sales, dtype: int64

/tmp/ipython-input-2064147776.py:2: FutureWarning: 'Q' is deprecated and will be removed in a future version, please use 'QE' instead.
  quarter_sales=df.resample('Q')['Sales'].sum()

In [20]:
#agg sales by year
year_sales=df.resample('Y')['Sales'].sum()
print("\nTotal sales by year:\n",year_sales)

Total sales by year:
 Date
2024-12-31    2010
Freq: YE-DEC, Name: Sales, dtype: int64

/tmp/ipython-input-949222721.py:2: FutureWarning: 'Y' is deprecated and will be removed in a future version, please use 'YE' instead.
  year_sales=df.resample('Y')['Sales'].sum()

In [21]:
#reset index to restore original structure
df.reset_index(inplace=True)
#spatial aggregatiuon
#3-agg sales by region
sales_by_region=df.groupby('Region')['Sales'].sum()
print("\nTotal sales by region:\n",sales_by_region)

Total sales by region:
 Region
East     520
North    400
South    380
West     710
Name: Sales, dtype: int64

In [22]:
#agg sales by city
sales_by_city=df.groupby('City')['Sales'].sum()
print("\nTotal sales by city:\n",sales_by_city)

Total sales by city:
 City
City1    400
City2    380
City3    520
City4    710
Name: Sales, dtype: int64

In [23]:
#agg sales by region and city
sales_by_region_city=df.groupby(['Region','City'])['Sales'].sum()
print("\nTotal sales by region and city:\n",sales_by_region_city)

Total sales by region and city:
 Region  City
East    City3    520
North   City1    400
South   City2    380
West    City4    710
Name: Sales, dtype: int64

In [24]:
#4-export spatial agg results
sales_by_region_city_reset=sales_by_region_city.reset_index()
#sales_by_region_city_reset.to_csv("spatial_aggregation.csv",index=False)
#print("\nSpatial aggregation data saved to 'spatial_aggregation.csv'")